body{
 font-family: Verdana, Geneva, Tahoma, sans-serif;
width: 80%;
margin: 0 auto;
background-image:url(cidade.jpeg)
}
header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    background-color: rgb(77, 133, 165);
    border-radius: 4px;
    margin-top: 10px;
}
.logo img{
    width: 20%;
    padding-top: 0%;
}
.navegacao{
    overflow: hidden;
    
      

}

.navegacao a{
    float: right;
    color: rgb(255, 253, 253);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 6px;
}
.navegacao a:hover{
    color: #0d4181;
}
.conteudo{
    margin: 5px 4px 4px 4px;
    background-color: #8eadcf;
    text-align: justify;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 10px 10px 10px #041735 ;
}
.principal{
    display: flex;
    flex-direction: row;
}
.rodape{
    color: #ffffff;
    font-size: 10px;
    text-align: center;
}
 .titulo{
    position:absolute;
    left:600px;
    bottom:480px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
   
}
}
 @media screen and(max-width:600px){
    .principal ,.conteudo {
    width:100%;
    flex-direction: column;
    padding:0px;
   }
    }
    .tudo{
        background: #ffffff, #8eadcf,#ffffff;
    }
 .titulo_2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    background-color: rgb(77, 133, 165);
    border-radius: 07px; 
   color: white;
   margin: 8px 4px 4px 4px;
    background-color: #8eadcf;
    text-align: justify;
    padding: 6px;
    border-radius: 1px;
    box-shadow: 10px 10px 10px #041735 ;
 }
 .segunda{
    background-image: url(cachoeira.jpeg);
 }
 main{
    color: #e7ebf0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 footer{
    color: #ffffff;
    font-size: 10px;
 }
 button:hover {
    color: blue;
  }
  .row-reverse {
	flex-direction: row-reverse;
}
	