


body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   width: 90%;
   background-image: linear-gradient(to right,#215188, #b9cfd4, #215188);
   margin-top: 10px;
   border-radius: 10px;
}
header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    background-color: rgb(77, 133, 165);
    border-radius: 10px;
    margin-top: 10px;
   color: white;
   margin: 5px 4px 4px 4px;
    background-color: #8eadcf;
    text-align: justify;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 10px 10px 10px #041735 ;
  
   
}
.navegacao{
    overflow: hidden;
    position:relative;
    top: 40px;

}
.navegacao a{
    float: right;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 8px;
   

}
.navegacao a:hover{
    color: #094288;
}
.principal{
    display: flex;
    flex-direction: row;

}
.conteudo {
   margin:200px 5px 8px;
   color: white;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.rodape {
    color: #fffbfb;
    font-size: 12px;
    text-align: center;
}
button:hover {
    color: blue;
  }
  p::first-line {
    color: blue;
    text-transform: uppercase;
  }